$color-primary: #499a18;
$color-additional: #e06733;
$color-background: #edf2ec;
$color-text: #636060;
$color-description: #717171;
$color-border: #e3e1d5;
$color-heading: black;
$color-nav-link: #010201;
$color-background: #edf2ec;
$color-light: #ffffff;
$cololor-active:#C1E698;

$content-width: 1222px;
$tablet-width: 768px;
$mobile-width: 380px;
