.footer__container {
  @include font(2rem, 5rem, $weight: 400);
  @include flex;
  padding: 42px 0;

  @include media-tablet {
    flex-direction: column;
    padding: 32px 0;
  }
  @include media-mobile {
    padding: 10px 0;
    flex-direction: column;
    align-items: center;
  }
  @include media-small {
    flex-direction: column;
    align-items: center;
  }
}

.icons {
  @include center;
  gap: 28px;
  margin: 5px 0;
  @include media-tablet {
    padding: 0;
  }
  @include media-mobile {
    padding: 0;
  }
}
.rights {
  @include font(2rem, 5rem, $weight: 400);
  display: flex;
  gap: 20px;
  @include media-tablet {
    justify-content: center;
    @include font(2rem, 2.42rem, $weight: 400);
    margin-bottom: 15px;
  }
}
.link-RSSchool {
  margin-left: 55px;
  @include media-tablet {
    display: flex;
    justify-content: center;
    @include font(2rem, 2.42rem, $weight: 400);
    margin-left: 0;
    margin-bottom: 20px;
  }
  @include media-mobile {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 0;
    line-height: 1;
  }
}
