@import "../abstract/mixins";

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}
body {
  @extend %font-prim;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
  overflow-y: scroll;
}
h1 {
  @include font(4.5rem, 5rem);
  @include media-tablet {
    @include font(3.5rem, 5rem);
  }
  @include media-mobile {
    @include font(2.5rem, 3.5rem);
  }
  @include media-small {
    @include font(2.5rem, 3.5rem);
  }
}
h2 {
  @extend %font-add;
  @include font($size: 4rem, $height: 5.2rem, $weight: 400);
  @include media-tablet {
    @include font($size: 3.5rem, $height: 4.6rem, $weight: 400);
  }
  @include media-mobile {
    @include font(2.5rem, 3.257rem, $weight: 400);
  }
  @include media-small {
    @include font(2rem, 2.5rem, $weight: 400);
  }
}
h3 {
  @include font(2rem, 2rem);
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
  &:hover {
    color: #e06733;
    @extend %transition;
  }
}
li {
  list-style: none;
}
