* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 5rem;
  font-style: normal;
}
@media (max-width: 1439px) and (min-width: 768px) {
  h1 {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 5rem;
    font-style: normal;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-style: normal;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-style: normal;
  }
}

h2 {
  font-weight: 400;
  font-size: 4rem;
  line-height: 5.2rem;
  font-style: normal;
}
@media (max-width: 1439px) and (min-width: 768px) {
  h2 {
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 4.6rem;
    font-style: normal;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  h2 {
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3.257rem;
    font-style: normal;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  h2 {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    font-style: normal;
  }
}

h3 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  font-style: normal;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #e06733;
}

li {
  list-style: none;
}

.button {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  font-style: normal;
  border-radius: 1rem;
  padding: 10px 26px;
  border: 2px solid #e06733;
  cursor: pointer;
  background-color: #ffffff;
}
@media (hover: hover) {
  .button {
    border: 2px solid #e06733;
    background-color: #ffffff;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .button {
    padding: 6px 16px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    font-style: normal;
  }
}

.button_home {
  background-color: #edf2ec;
}

.button_home:hover {
  color: #edf2ec;
  background-color: #e06733;
}

.contact-column__button {
  border-width: 1px;
  border-radius: 5px;
  padding: 12px 34px 12px 30px;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.6rem;
  font-style: normal;
  color: #e06733;
}
@media (max-width: 767px) and (min-width: 380px) {
  .contact-column__button {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.954rem;
    font-style: normal;
    padding: 7px 24px 7px 24px;
  }
}

.adress-block__button {
  border-radius: 5px;
  padding: 7px 59px;
  align-self: center;
  background-color: #edf2ec;
  margin-top: 14px;
  margin-bottom: 32px;
  color: #717171;
  border: 2px solid #e06733;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3rem;
  font-style: normal;
}
@media (max-width: 767px) and (min-width: 380px) {
  .adress-block__button {
    margin-bottom: 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) and (min-width: 380px) {
  .logo {
    padding-top: 15px;
  }
}

.logo__pic {
  margin-bottom: 9px;
}
.logo__text {
  vertical-align: middle;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.1rem;
  font-style: normal;
}

.burger {
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media (max-width: 767px) and (min-width: 380px) {
  .burger {
    display: flex;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .burger {
    display: flex;
  }
}

.menu-button {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40px;
  height: 24px;
  gap: 6px;
}
@media (max-width: 767px) and (min-width: 380px) {
  .menu-button {
    display: flex;
    margin-top: 5px;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .menu-button {
    display: flex;
  }
}

.burger-line {
  background-color: #717171;
  width: 40px;
  height: 2px;
}

.burger-menu {
  display: none;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .burger-menu {
    top: 0;
    right: -205px;
    position: absolute;
    z-index: 1;
    transition: 0.5s;
  }
}

.burger-menu.active {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #edf2ec;
  padding: 0 20px;
  width: 300px;
  top: 0px;
  right: 0px;
  position: absolute;
  border-radius: 10px;
  z-index: 200;
  transition: 0.5s;
}

.burger-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navigation-burger {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  transition: 1s;
}

.burger-cross {
  width: 15px;
  height: 15px;
  background: url(../assets/icons/cross.png) no-repeat center;
  background-size: cover;
}

.burger-cross:hover {
  scale: 1.1;
}

.overlay {
  display: none;
}

.overlay.active {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100em;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.card, .tag_active, .nav-link:hover, .nav-link, a:hover, .logo__pic:hover, .social_link > img:hover {
  transition: all 0.3s ease-out;
}

.select__city-item, .price-info-button, .dollars, .price__info .price-dollars, .price__info p, .prices__title, .prices, .about__text, body, .button {
  font-family: "Inter", sans-serif;
}

.contacts__title, .tag, .about__title, .nav-link, h2, .contact-column__button, .adress-block__button, .logo__text {
  font-family: "Inika", sans-serif;
}

.logo__pic:hover, .social_link > img:hover {
  transform: scale(1.2);
}

.header {
  background-color: #edf2ec;
  padding: 20px 0;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .header {
    padding: 35px 0;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .header {
    padding: 15px 0;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1222px;
  margin: 0 auto;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .container {
    padding: 0 24px;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .container {
    padding: 0 15px;
  }
}

.footer__container {
  font-weight: 400;
  font-size: 2rem;
  line-height: 5rem;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 42px 0;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .footer__container {
    flex-direction: column;
    padding: 32px 0;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .footer__container {
    padding: 10px 0;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin: 5px 0;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .icons {
    padding: 0;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .icons {
    padding: 0;
  }
}

.rights {
  font-weight: 400;
  font-size: 2rem;
  line-height: 5rem;
  font-style: normal;
  display: flex;
  gap: 20px;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .rights {
    justify-content: center;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.42rem;
    font-style: normal;
    margin-bottom: 15px;
  }
}

.link-RSSchool {
  margin-left: 55px;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .link-RSSchool {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.42rem;
    font-style: normal;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .link-RSSchool {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 0;
    line-height: 1;
  }
}

.welcome {
  padding: 62px 0 52px;
  background-color: #edf2ec;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .welcome {
    padding: 10px 0 70px;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .welcome {
    padding: 16px 0 24px;
  }
}

.welcome__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home-content {
  width: 45%;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .home-content {
    order: 1;
    width: 55%;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .home-content {
    width: 100%;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .home-content {
    width: 100%;
  }
}

.home__title {
  color: #717171;
}
@media (max-width: 767px) and (min-width: 380px) {
  .home__title {
    margin-bottom: 13px;
  }
}

.selected {
  color: #499a18;
}

.home__text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.5rem;
  font-style: normal;
  padding: 5px 5px 0 0;
  margin-bottom: 48px;
  color: #636060;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .home__text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-style: normal;
    padding: 0px 15px 0 5px;
    letter-spacing: spacing 1px;
    margin-bottom: 35px;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .home__text {
    padding-left: 0;
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-style: normal;
  }
}

.home-pic {
  margin-top: -5px;
  margin-left: -5px;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .home-pic {
    content: url(../assets/images/leafs-tablet.png);
    height: 30%;
    order: 2;
    margin-top: 17px;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .home-pic {
    display: none;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .home-pic {
    display: none;
  }
}

.navigation {
  display: flex;
  font-size: 1.6rem;
  line-height: 5rem;
  margin: 0;
  gap: 47px;
}
@media (max-width: 767px) and (min-width: 380px) {
  .navigation {
    display: none;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .navigation {
    display: none;
  }
}

.nav-link {
  list-style: none;
}
.nav-link:hover {
  color: #e06733;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .nav-link {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 5rem;
    font-style: normal;
  }
}

.about__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 90px 0 97px;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .about__container {
    padding: 0 50px 95px 50px;
    justify-content: center;
    gap: 40px;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .about__container {
    padding: 0 25px 32px 25px;
    gap: unset;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .about__container {
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }
}

.about-content {
  padding-top: 38px;
  width: 49%;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .about-content {
    width: 100%;
    padding-top: 10px;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .about-content {
    width: 100%;
    padding-top: 29px;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .about-content {
    width: 100%;
  }
}

.about__title {
  color: #499a18;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .about__title {
    text-align: center;
    padding-right: 21%;
    padding-left: 21%;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .about__title {
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

.orange {
  color: #e06733;
}

.about__text {
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  font-style: normal;
  padding-top: 5px;
  color: #636060;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .about__text {
    padding-top: 22px;
    padding-bottom: 10px;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .about__text {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-style: normal;
    padding: 0;
    margin-bottom: 0px;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .about__text {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-style: normal;
  }
}

@media (max-width: 1439px) and (min-width: 768px) {
  .about-pic {
    content: url(../assets/images/houseplant-tablet.png);
    width: 37%;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .about-pic {
    content: url(../assets/images/houseplant-mobile.png);
    width: 46%;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .about-pic {
    content: url(../assets/images/houseplant-mobile.png);
    width: 46%;
  }
}

.service {
  background-color: #edf2ec;
}

.service-header {
  width: 82.5%;
  margin-bottom: 79px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .service-header {
    width: 95%;
    gap: 43px;
    margin-bottom: 39px;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .service-header {
    gap: 41px;
    margin-bottom: 40px;
  }
}

.service__title {
  margin: 0;
  width: 40%;
  color: #499a18;
}
@media (max-width: 767px) and (min-width: 380px) {
  .service__title {
    width: 80%;
    margin-top: 30px;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .service__title {
    width: 80%;
  }
}

.service__container {
  padding: 40px 0;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .service__container {
    padding: 60px 50px 0;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .service__container {
    padding: 0 25px;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .service__container {
    padding: 30px 15px;
  }
}

.service__tags {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  align-items: center;
  gap: 39px;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .service__tags {
    gap: 38px;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .service__tags {
    flex-wrap: wrap;
    gap: 9px;
    justify-content: initial;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .service__tags {
    flex-wrap: wrap;
    gap: 9px;
    justify-content: initial;
  }
}

.tag {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.6rem;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e06733;
  width: 161px;
  padding: 11px 0;
  border: 1px solid #e06733;
  border-radius: 5px;
  background-color: #edf2ec;
}
@media (max-width: 767px) and (min-width: 380px) {
  .tag {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.954rem;
    font-style: normal;
    padding: 6.5px 0;
    width: 121px;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .tag {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-style: normal;
    padding: 6.5px 0;
    width: 100px;
  }
}
.tag_active {
  color: #ffffff;
  background-color: #e06733;
}

.service-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 55px;
  padding-bottom: 82px;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .service-cards {
    gap: 37px;
    padding-bottom: 68px;
    justify-content: space-between;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .service-cards {
    justify-content: center;
    gap: 35px;
    padding-bottom: 27px;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .service-cards {
    justify-content: center;
    gap: 34.5px;
    padding-bottom: 27px;
  }
}

.card__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e06733;
  padding-top: 5px;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .card__title {
    padding-top: 6px;
  }
}

.card__text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 17px;
  color: #717171;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .card__text {
    padding: 0 30px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 19px;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .card__text {
    margin: 10px 20px 3px;
    text-align: center;
  }
}

.card {
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  width: fit-content;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .card {
    flex-basis: 42.2%;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .card {
    flex-basis: 40%;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .card {
    flex-basis: 30%;
  }
}
.card_blured {
  filter: blur(2px);
}

@media (max-width: 1439px) and (min-width: 768px) {
  .card__image {
    width: 100%;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .card__image {
    width: 100%;
  }
}

@media (max-width: 1439px) and (min-width: 768px) {
  .card__image1 {
    content: url("../assets/images/first-tablet.png");
    width: 100%;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .card__image1 {
    content: url("../assets/images/first-mobile.png");
  }
}

@media (max-width: 1439px) and (min-width: 768px) {
  .card__image2 {
    content: url("../assets/images/second-tablet.png");
    width: 100%;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .card__image2 {
    content: url("../assets/images/second-mobile.png");
  }
}

@media (max-width: 1439px) and (min-width: 768px) {
  .card__image3 {
    content: url("../assets/images/third-tablet.png");
    width: 100%;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .card__image3 {
    content: url("../assets/images/third-mobile.png");
  }
}

@media (max-width: 1439px) and (min-width: 768px) {
  .card__image4 {
    content: url("../assets/images/fourth-tablet.png");
    width: 100%;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .card__image4 {
    content: url("../assets/images/fourth-mobile.png");
  }
}

@media (max-width: 1439px) and (min-width: 768px) {
  .card__image5 {
    content: url("../assets/images/fifth-tablet.png");
    width: 100%;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .card__image5 {
    content: url("../assets/images/fifth-mobile.png");
  }
}

@media (max-width: 1439px) and (min-width: 768px) {
  .card__image6 {
    content: url("../assets/images/sixth-tablet.png");
    width: 100%;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .card__image6 {
    content: url("../assets/images/sixth-mobile.png");
  }
}

.prices {
  padding-bottom: 105px;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .prices {
    padding-bottom: 83px;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .prices {
    padding-bottom: 40px;
  }
}

.layout-2-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-wrap: nowrap;
}
.layout-2-column > * {
  flex-basis: 37%;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .layout-2-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .layout-2-column > * {
    flex-basis: 50%;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .layout-2-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .layout-2-column {
    flex-direction: column;
  }
}

.contact-column__text {
  font-weight: 700;
  font-size: 4rem;
  line-height: 5rem;
  font-style: normal;
  text-align: end;
  margin-bottom: 0;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .contact-column__text {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-style: normal;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .contact-column__text {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.5rem;
    font-style: normal;
    text-align: center;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .contact-column__text {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-style: normal;
  }
}

.prices__title {
  margin: 40px 0 60px 0;
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.8rem;
  font-style: normal;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .prices__title {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4.236rem;
    font-style: normal;
    margin: 40px 0 57px 15px;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .prices__title {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.026rem;
    font-style: normal;
    margin: 27px 0 37px 0px;
    text-align: center;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .prices__title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 2.5rem;
    font-style: normal;
  }
}

.green {
  color: #499a18;
}

.prices__formats {
  width: 73.5%;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 33px 40px;
  gap: 31px;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .prices__formats {
    width: 100%;
    padding: 32px 40px;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .prices__formats {
    width: 100%;
    padding: 29px 22px;
    gap: 15px;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .prices__formats {
    width: 100%;
  }
}

.price-format__tag {
  margin: 0 0 6px 0;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  font-style: normal;
}
@media (max-width: 767px) and (min-width: 380px) {
  .price-format__tag {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    font-style: normal;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .price-format__tag {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    font-style: normal;
  }
}

.price {
  background-color: #edf2ec;
  width: 100%;
  border-radius: 20px;
  padding: 15px 40px 6px 40px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 767px) and (min-width: 380px) {
  .price {
    flex-wrap: nowrap;
    padding: 14px 41px 6px 29px;
    overflow: hidden;
    align-items: center;
  }
}
.price_active {
  background-color: #D6E7D2;
}

.contact-column {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 38px;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .contact-column {
    padding-top: 115px;
    gap: 26px;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .contact-column {
    flex-basis: 70%;
    align-items: center;
    padding: 0 40px;
    gap: 20px;
  }
}

.contact-column__img {
  margin-right: -10px;
}
@media (max-width: 767px) and (min-width: 380px) {
  .contact-column__img {
    display: none;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .contact-column__img {
    display: none;
  }
}

.popup-img {
  background-color: #d9d9d9;
  padding: 8px;
  border-radius: 10px;
}
@media (max-width: 767px) and (min-width: 380px) {
  .popup-img {
    vertical-align: middle;
  }
}
.popup-img_active {
  content: url("../assets/icons/arrow1.svg");
  background-color: #aea1a1;
}

.price__header {
  padding-bottom: 6px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.price__info {
  height: 0;
  visibility: hidden;
  border-top: 0.5px solid #aea1a1;
  animation: grow 5s;
}
.price__info_active {
  height: 100%;
  visibility: visible;
}
.price__info p {
  margin: 6px 0 6px 0;
  color: #717171;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1rem;
  font-style: normal;
}
.price__info .price-dollars {
  color: black;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  font-style: normal;
}

.dollars {
  color: #e06733;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  font-style: normal;
}

.price-info-button {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  font-style: normal;
  border-radius: 10px;
  color: #717171;
  padding: 3px 20px;
  border: none;
  background-color: #ffffff;
}

.popup-button {
  display: flex;
  align-items: center;
}

.contacts {
  background-color: #edf2ec;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 50px;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .contacts__container {
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .contacts__container {
    justify-content: center;
    padding-top: 25px;
    flex-direction: column;
    align-items: center;
  }
}

.select-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 450px;
  background-color: #d6e7d2;
  padding: 5px 35px 5px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 767px) and (min-width: 380px) {
  .select-form {
    width: 300px;
    padding: 5px 22px 5px 20px;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .select-form {
    width: 300px;
  }
}
.select-form_active {
  background-color: #C1E698;
  box-shadow: none;
  border: none;
}

.contacts__title {
  margin: 10px 0 0 45px;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.2rem;
  font-style: normal;
  color: #499a18;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .contacts__title {
    order: 1;
    margin: 0;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .contacts__title {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.257rem;
    font-style: normal;
    order: 1;
    margin: 0;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .contacts__title {
    order: 1;
  }
}

.contacts__destination {
  padding-top: 95px;
}
@media (max-width: 1439px) and (min-width: 768px) {
  .contacts__destination {
    order: 2;
    padding-top: 100px;
    padding-bottom: 253px;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .contacts__destination {
    padding-bottom: 133px;
    padding-top: 82px;
    order: 2;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .contacts__destination {
    order: 2;
    padding-top: 50px;
    padding-bottom: 100px;
  }
}

.select-form__text {
  margin: 0;
  font-weight: 400;
  font-size: 2rem;
  line-height: 4rem;
  font-style: normal;
  color: #717171;
}

.select-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1439px) and (min-width: 768px) {
  .contacts__img {
    content: url("../assets/images/contact_woman-tablet.png");
    order: 3;
    margin-left: 20px;
  }
}
@media (max-width: 767px) and (min-width: 380px) {
  .contacts__img {
    order: 3;
    content: url("../assets/images/contact_woman-mobile.png");
    margin-left: 0;
  }
}
@media (max-width: 379px) and (min-width: 320px) {
  .contacts__img {
    order: 3;
    content: url("../assets/images/contact_woman-mobile.png");
    margin-left: 0;
  }
}

.select-block {
  position: relative;
}

.select__list {
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  gap: 12px;
  background-color: #dce9d9;
  margin-top: 0;
  padding: 27px 50px 31px 26px;
}
.select__list_active {
  display: flex;
}

.select__city-item {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 4rem;
  font-style: normal;
  color: #499a18;
  border-bottom: 1px solid #d9d9d9;
}
.select__city-item:hover {
  color: #717171;
  border-bottom: 1px solid #717171;
}

.adress-block {
  visibility: hidden;
  margin-top: 47px;
  padding: 17px 35px 0 35px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 20px;
}
.adress-block_active {
  display: flex;
  visibility: visible;
}
@media (max-width: 767px) and (min-width: 380px) {
  .adress-block {
    padding: 23px 37px;
    max-width: 300px;
  }
}

.adress__right-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 767px) and (min-width: 380px) {
  .adress__right-column {
    width: 60%;
  }
}
.adress__right-column > p {
  line-height: 2rem;
}

.adress__left-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 767px) and (min-width: 380px) {
  .adress__left-column {
    width: 40%;
  }
}
.adress__left-column > p {
  line-height: 2rem;
}

.adress-text__left,
.adress-text__right {
  margin: 0;
}

.adres-block__info {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
@media (max-width: 767px) and (min-width: 380px) {
  .adres-block__info {
    gap: 5px;
  }
}

.adress-text__left {
  color: black;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 4rem;
  font-style: normal;
}

.adress-text__right {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 4rem;
  font-style: normal;
  color: #717171;
}

.popup-service {
  content: url("../assets/icons/arrow.svg");
  padding: 8px;
  border-radius: 10px;
  background-color: #d9d9d9;
}

.popup-service_active {
  content: url("../assets/icons/arrow1.svg");
  background-color: #aea1a1;
}

/*# sourceMappingURL=style.css.map */
